name: Build docker and push image to Docker Hub

on:
  workflow_call:
    inputs:
      SERVICE_NAME:
        required: true
        type: string
      SERVICE_LOCATION:
        required: true
        type: string

      SQUASH_LAYERS:
        required: false
        type: string

    secrets:
      RELEASE_DOCKER_HUB:
        required: true
      ACTOR_DOCKER_HUB:
        required: true
      DEV_NAMESPACE_DOCKER_HUB:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  build-dockers:
    runs-on: ubuntu-latest
    env:
      NAMESPACE: ${{ secrets.DEV_NAMESPACE_DOCKER_HUB }}
      SERVICE_LOCATION: ${{ inputs.SERVICE_LOCATION }}
      SERVICE_NAME: ${{ inputs.SERVICE_NAME }}


    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        if: ${{ ( inputs.BUILD_ARTIFACT != 'false' ) }}
        with:
          name: ${{ inputs.BUILD_ARTIFACT }}
          path: ./

      - name: Install docker-squash
        run: pip install docker-squash

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup branch and env
        run: |
          # Strip git ref prefix from version
          echo "BRANCH_NAME=$(echo ${{ github.ref }} | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV
          echo "DOCKER_IMAGE_NAME=${{env.NAMESPACE}}/${{ env.SERVICE_NAME }}:${{env.BRANCH_NAME}}" >> $GITHUB_ENV

      - name: Get current date
        run: echo "BUILD_TIME=$(date +'%Y-%m-%d-%H-%M-%S')"  >> $GITHUB_ENV

      - name: Build check for Docker label
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          for layer in  ARG\\s+SOURCE ARG\\s+COMMIT_HASH ARG\\s+COMMIT_ID ARG\\s+BUILD_TIME LABEL\\s+source=\\$\\{SOURCE\\} LABEL\\s+commit_hash=\\$\\{COMMIT_HASH\\} LABEL\\s+commit_id=\\$\\{COMMIT_ID\\} LABEL\\s+build_time=\\$\\{BUILD_TIME\\}; do
            layer_count=$( grep -Ev '^$' Dockerfile | grep -Ec "$layer" || true);
          
            if [[ $layer_count -ne 1 ]]; then
              dlayer=$( echo $layer | sed -E 's/\\s\+/ /g' | sed -E 's/\\//g' )
              echo "Docker layer : \"$dlayer\" not found; EXITING";
              exit 1;
            fi
          done

      - name: Build Docker images
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          
          # Prepare Docker build arguments
          DOCKER_LABEL="--build-arg SOURCE=syedsalman3753 --build-arg COMMIT_HASH=$(git rev-parse HEAD) --build-arg COMMIT_ID=$(git rev-parse --short HEAD) --build-arg BUILD_TIME=$BUILD_TIME"
          
          docker buildx build --load $DOCKER_LABEL -t ${{env.DOCKER_IMAGE_NAME}} .


      - name: Log into registry
        if: "${{ github.event_name != 'pull_request' }}"
        run: echo "${{ secrets.RELEASE_DOCKER_HUB }}" | docker login -u ${{ secrets.ACTOR_DOCKER_HUB }} --password-stdin

      - name: Process and push Docker images
        if: "${{ github.event_name != 'pull_request' }}"
        run: |
            docker push ${{env.DOCKER_IMAGE_NAME}}


      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: "${{ github.event_name != 'pull_request' && failure() }}" # Pick up events even if the job fails or is canceled.
